<head>
  <title>CHECK VERSION</title>
  <center><h1>CHECK VERSION</h1></center>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <center>
    <%= c_version %></br>
    <%= n_version %></br>
    <%= res1 %></br>
    <%= res2 %></br>
    <form action="/">
      <input type="submit" value="Back">
    </form>
  </center>
</body>
