<html>
  <head>
    INSERT YOUR COMMENT
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <form action="/list">
      <fieldset>
        <legend>COMMENT</legend>
        NAME:<br>
        <input type="text" name="name"><br>
        COMMENT:<br>
        <input type="text" name="comment"<br><br>
        <input type="submit" value="Submit">
  </body>
</html>
