<html>
  <head>
    INSERT YOUR COMMENT
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <form action="/result" method="post">
      <fieldset>
        <legend>COMMENT</legend>
        NAME:<br>
        <input type="text" name="name"><br>
        COMMENT:<br>
        <textarea name = "comment" cols = "40" rows = "4"></textarea>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
    <form action="/learning" method="post">
      <fieldset>
        <legend>LEARNING</legend>
        <input type="submit" value="LEARN">
      </fieldset>
    </form>
  </body>
</html>
