<html>
  <head>
    <center>
      <h1>INSERT YOUR COMMENT</h1>
      <h4>THIS IS MACHINE LEARNING</h4>
    </center>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <center>
    <form action="/result" method="post">
      <fieldset>
        <legend>COMMENT</legend>
        NAME:</br>
        <input type="text" name="name"></br></br>
        COMMENT:</br>
        <textarea name = "comment" cols = "40" rows = "4"></textarea></br></br>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
    <form action="/learning" method="get">
      <fieldset>
        <legend>LEARNING</legend>
        <input type="submit" value="LEARN">
      </fieldset>
    </form>
    <form action="/batch" method="get">
      <fieldset>
        <legend>BATCH</legend>
        <input type="submit" value="BATCH">
      </fieldset>
    </form>
    <form action="/check_version" method="get">
      <fieldset>
        <legend>CHECK VERSION</legend>
        <input type="submit" value="CHECK VERSION">
      </fieldset>
    </form>
    <form action="/one_update" method="get">
      <fieldset>
        <legend>ONE FILE UPDATE</legend>
        <input type="submit" value="ONE FILE UPDATE">
      </fieldset>
    </form>
  </center>
  </body>
</html>
