<head>
  <title>LEARNING</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <%= learning_time %></br>
  <%= precision %></br>
  <form action="/">
    <input type="submit" value="Back">
  </form>
</body>