<head>
  <title>ONE FILE UPDATE</title>
  <center><h1>ONE FILE UPDATE</h1></center>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <center>
    <%= data_size %></br>
    <%= cur_num %></br>
    <%= learning_time %></br>
    <%= precision %></br>
    <form action="/">
      <input type="submit" value="Back">
    </form>
  </center>
</body>
