<head>
  <title>RESULT</title>
  <center><h1>RESULT</h1></center>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <center>
    <ul>
      <li><%= name %>! Thank you for comment!</br></li>
      <li>Your comment was '<%= comment %>'.</br></li>
      <li>'<%= mood %>'.</br></li>
      <li>'<%= precision %>'.</br></br></li>
    </ul>
    <form action="/">
      <input type="submit" value="Back">
    </form>
  </center>
</body>
