<head>
  <title>RESULT</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <%= name %>! Thank you for comment!</br>
  Your comment was '<%= comment %>'.</br>
  Your mood is '<%= mood %>'.</br>
  The precision is '<%= precision %>'.</br>
  <form action="/">
    <input type="submit" value="Back">
  </form>
</body>