body{
    background-color: black;
    color: white;
}

fieldset{
    width: 300px;
    border-left-width: 15;
}

input, textarea, button {
    display:inline-block;
    font-family:arial;
    margin:1px;
}

form, fieldset {
    display:block;
}
